{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="login-container">
  <div class="login-header">
    <div class="col-20">
      <img src="{{asset("assets/pictures/logo_club_removebg.png")}}" class="logo_formulaire" alt="logo">
    </div>
    <div class="col-80">
      <h2>Connexion à votre espace abonné</h2>
    </div>
  </div>
  <hr>
  <form method="post">
    {% if error %}
    <!-- <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> -->
    <div class="alert alert-danger">Mot de passe erroné ou email non valide</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
      Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
    >
    <a href="{{path('app_forgot_password_request')}}"><i><small>J'ai oublié mon mot de passe!</small></i></a>
    <button class="btn btn-primary" type="submit">
      Connexion
    </button>
  </form>
</div>
{% endblock %}
