{% extends 'dashboard/base.html.twig' %}
{% block body %}
<div class="form">
  {{ form_start(formCompetition) }}
   {{ form_row(formCompetition.title, { 'label' : "Titre", 'attr' : {'class':'form-control'}}) }}
   {{ form_row(formCompetition.comment, { 'label' : "Description", 'attr' : {'class':'form-control'}}) }}
   {{ form_row(formCompetition.team_size, { 'label' : "Nombre de participant par équipe", 'attr' : {'class':'form-control'}}) }}
   {{ form_row(formCompetition.date, { 'label' : "Date  ", 'attr' : {'class':'form-control'}}) }}
   {{ form_row(formCompetition.registration_deadline, { 'label' : "Date limite d'enregistrement", 'attr' : {'class':'form-control'}}) }}
   {{ form_row(formCompetition.active, { 'label' : "On line  "}) }}
  <br>
  <button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregistrer les modifications
    {% else %}
    Ajouter la competition
    {% endif %}
  </button>
  {{ form_end(formCompetition) }}

</div>

{% endblock %}
