{% extends 'dashboard/base.html.twig' %}
{% block body %}
<a class="btn btn-primary" href="{{path('admin_competition_create')}}">Créer une compétition</a>
<h3>Compétitions</h3>
<hr>
<table>
<tr>
  <th>Titre</th>
  <th>Date</th>
  <th>Description</th>
  <th>Taille des équipes</th>
  <th>Online</th>
  <th>Actions</th>
</tr>
{% for competition in competitions %}
<tr>
  <td> {{competition.title}} </td>
  <td> {{competition.date | date('d/m/Y')}} </td>
  <td> <textarea rows="4" cols="30"> {{competition.comment}} </textarea> </td>
  <td> {{competition.teamSize}} </td>
  {% if competition.active %}
  <td style ="color:red;"><strong>On line</strong></td>
    {% else %}
    <td>Off line</td>
  {% endif %}
  <td>
    <small><i><a class="btn btn-primary" href="{{ path('admin_competition_update', {'id' : competition.id}) }}"><i class="fa fa-pencil"></i></a></i></small>
    <small><i><a class="btn btn-success" href="{{ path('admin_competition_show', {'id' : competition.id}) }}"><i class="fa fa-eye"></i></a></i></small>
    <!-- <small><i><a class="btn btn-danger" href="#" onclick="return confirm('Etes vous certain de vouloir supprimer cet competition?');"><i class="fa fa-trash-o"></i></a></i></small> -->
  </td>
</tr>
{% endfor %}





</table>
{% endblock %}
