{% extends 'base.html.twig' %}

{% block body %}
<div class="wave-container">
  <div id="header-logo">
    <h2>Surfcasting Turballais</h2>
  </div>
  <div class="divider">
    <svg style="fill:rgb(240, 240, 240);"viewBox="0 0 1000 30" preserveAspectRatio="none">
      <path d="M1000,0 S200,60 0,0 L0,30 L1000,30 L1000,0 Z"></path>
    </svg>
  </div>
</div>

{% if app.request.cookies.get('cookieConsent') != 'agree' %}
<!-- AFFICHAGE COOKIES CONSENT -->
<div class="cookie">
  <h4>Ce site utilise des cookies!</h4></br>
  <a class="btn btn-danger no-cookies">Je refuse</a>
  <a href="{{path('cookies_agree')}}" class="btn btn-primary">J'accepte</a>
</div>
{% endif %}

<!-- AFFICHAGE DU CAROUSEL SPONSOR -->
  <div class="slideshow">
    {% for sponsor in sponsors %}
    <img src="{{asset('sponsor_images/' ~ sponsor.imageName)}}" alt=""/>
    {% endfor %}
  </div>

<!-- AFFICHAGE DES ARTICLES online -->
<div class="article-container restricted_container">
  {% for article in online_articles %}
  <div class="article">
    <div class="article-header">
      <h2>{{article.title}}</h2><br>
      <h5><i><span><i class="fa fw fa-calendar-o"></i></span> {{article.createdAt | date('d/m/Y')}} Publié par {{article.author.firstname}} {{article.author.name }}</i></h5>
    </div>
    <div class="article-main">
      {% for paragraph in article.paragraphs %}
        <h4 style="margin-bottom:20px;">{{ paragraph.title }}</h4>
        <p>{{ paragraph.content}}</p>


        <div class="paragraph-image" >
          {% for image in paragraph.paragraphImages %}
            <img class="image" src="{{asset('paragraph_images/' ~ image.imageName)}}" alt="{{image.imageName}}" width="100%">
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <!-- The expanding image container -->
  <div class="container">
    <!-- Close the image -->
    <span  class="closebtn">&times;</span>

    <!-- Expanded image -->
    <img id="expandedImg">
  </div>
</div>


<div class="footer">
  <a href="https://www.facebook.com/groups/962506810816597" target="_blank">Rejoignez nous sur FaceBook <i class="fa fa-facebook-square"></i></a>
  <div>
    <p>CONTACTEZ NOUS:</p>
    <p>Email: surfcastingturballais@outlook.fr</p>
    <p><a href="{{path('contact_us')}}">Formulaire de demande de renseignements</a></p>
  </div>
  <div>
    <p><a href="{{path('legal_mention')}}">Mentions légales</a><br></p>
    <p><a href="{{path('general_condition')}}">Conditions générales d'utilisation</a></p>
    <p><a href="{{path('personal_data_policy')}}">Politique de confidentialité</a></p>
  </div>
</div>
{% endblock %}
