{% extends 'base.html.twig' %}

{% block body %}
<div class="wave-container">
  <div id="header-logo">
    <p>SCT</p>
    <p>Surfcasting Turballais</p>
  </div>
  <!-- <img id="header-logo" src="{{asset('assets/pictures/carte_voeux_2022.jpg')}}" alt=""> -->
</div>
<!-- AFFICHAGE BLOG ET EVENEMENTS RESERVES AUX MEMEBRES DU CLUB -->
{% if is_granted('ROLE_MEMBER') %}
<!-- AFFICHAGE 5 DERNIERS MESSAGES DU BLOG SUR LA PAGE D ACCUEIL -->
  <div class="restricted_container">
    <h2>Les dernières nouvelles du front</h2>
    <br>
    {% for comment in blog_comments %}
    <i><small>De <strong>{{comment.author.firstname}} {{comment.author.name}}</strong>
      le {{comment.createdAt | date('d/m/Y à H:i')}}</small></i>
      <p>{{comment.content}}</p>
      <br>
    {% endfor%}
    <br>
    <small><i><a class="btn"href="{{ path('member_blog_index')}}">Accéder au blog</a></i></small>
  </div>
<!-- AFFICHAGE DES EVENEMENTS A VENIR SUR LA PAGE D ACCUEIL -->
  <div class="restricted_container">
    <h2>Nos événements à venir</h2>
    {% for event in events %}
      {% if event.date > date() %}
        <div class="card">
          <div class="card-header">
            <h4><i><small><span style="color:red">A VENIR </span></small>Le {{event.date | date('d/m/Y')}}</i></h4>
            <h3>{{ event.title}}</h3>
          </div>
          <div class="card-main">
            <p>{{event.content}}</p><br>
            {% for file in event.eventFiles %}
            <a href="{{ asset('/files/'~ file.fileName)}}" target="blanc"pdf><small><i>{{ file.name }} (PDF)</small></i></a><br>
            {% endfor %}
          </div>
          <div class="card-footer">
            <p>Créé le {{event.createdAt | date('d/m/Y')}} par {{event.author.firstname}} {{event.author.name}}</p>
            <p>Mis à jour le {{event.updatedAt | date('d/m/Y')}}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <br>
    <small><i><a class="btn"href="{{ path('member_event_index')}}">Voir tous les événements</a></i></small>
  </div>
{% endif %}

<div class="footer">
  <a href="https://www.facebook.com/groups/962506810816597" target="_blank">Rejoignez nous sur FaceBook <i class="fa fa-facebook-square"></i></a>
  <div>
    <p>CONTACTEZ NOUS:</p>
    <p>Email: surfcastingturballais@outlook.fr</p>
    <p><a href="{{path('contact_us')}}">Formulaire de demande de renseignements</a></p>
  </div>
  <div>
    <p><a href="{{path('legal_mention')}}">Mentions légales</a><br></p>
    <p><a href="{{path('general_condition')}}">Conditions générales d'utilisation</a></p>
    <p><a href="{{path('personal_data_policy')}}">Politique de confidentialité</a></p>
  </div>
</div>
{% endblock %}
