{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<div class="login-container">
  <div class="login-header">
    <div class="col-20">
      <img src="{{asset("assets/pictures/logo_club_removebg.png")}}" class="logo_formulaire" alt="forks">
    </div>
    <div class="col-80">
      <h2>Création votre compte abonné</h2>
    </div>
  </div>
  <br><hr><br>
  {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstname)}}
    {{ form_row(registrationForm.name)}}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    <div>
      <div style="float : left; margin-right : 15px">
        {{ form_row(registrationForm.agreeTerms, { 'label' : "J'accepte les CGU " })}}
      </div>
      <div style="float : left">
        <a style ="font-size : 20px;" href="{{path('general_condition')}}"><i class="fa fa-question-circle"></i></a>
      </div>
    </div>
  <button type="submit" class="btn">Valider</button>
  {{ form_end(registrationForm) }}
</div>
{% endblock %}
