<!DOCTYPE html>
<html lang="fr" dir="ltr">
<title>Surf Casting Turballais</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Club de Surfcasting Turballais{% endblock %}</title>
  <link rel="icon" href="{{ asset('assets/pictures/logo_club.jpg') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/master.css') }}"/>
  <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}"/>
  <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
  <link rel="stylesheet" href="{{ asset('assets/css/card.css') }}"/>
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <nav class="nav-bar">
    <div class="nav-logo">
      <a href="{{path('home')}}">
        <img width="80px" src="{{asset('assets/pictures/logo_club_removebg.png')}}" alt="">
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="{{ path('home')}}">accueil</a></li>
      <li><a href="{{ path('useful_link')}}">Liens utiles</a></li>
      <li><a href="{{ path('home')}}">Contactez nous</a></li>
      {% if is_granted('ROLE_MEMBER') %}
      <li class="down-link">Espace Membres <i class="fa fa-caret-down"></i>
        <ul class=" down-link nav-sublinks">
          <li><a href="{{ path('member_index')}}">Nos documents</li>
          <li><a href="{{ path('member_event_index')}}">Nos événements</li>
          <li><a href="{{ path('member_blog_index')}}">Blog</a></li>
        </ul>
      </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{path('dashboard')}}">Dashboard</a></li>
      {% endif %}
      {% if not app.user %}
      <li><a href="{{ path('app_register') }}"><i>Créer un compte</i></a></li>
      <li><a href="{{ path('app_login') }}"><i>Connexion</i></a></li>
      {% else %}
      <li><a href="{{ path('app_logout') }}">{{ app.user.username }} / Déconnexion</a></li>
      {% endif %}
    </ul>
    <div class="nav-burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>
  <div class="main">
  {% block body %}{% endblock %}
  </div>
{% block javascripts %}{% endblock %}
</body>
<footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="{{asset('assets/js/script.js')}}"></script>
</footer>
</html>
