{% extends 'dashboard/base.html.twig' %}
{% block body %}
    <a class="btn" href="{{path('admin_event_create')}}">Ajouter un évènement</a>
    <h3>Liste des évènements</h3>
    <hr>
    <table>
      <tr>
        <th>Date</th>
        <th>Intitulé</th>
        <th>Description</th>
        <th>Fichiers joints</th>
        <th>Actions</th>
      </tr>
    {% for event in events %}
      <tr>
        <td>{{event.date | date('d/m/Y')}}</td>
        <td>{{event.title}}</td>
        <td> <textarea rows="4" cols="50">{{event.content}}</textarea></td>
        <td>{{event.eventFiles | length}}</td>
        <td>
          <small><i><a href="{{ path('admin_event_update', {'id' : event.id}) }}">Modifier</a></i></small>
          <small><i><a href="{{ path('admin_event_add_file', {'id' : event.id}) }}">Ajouter un fichier</a></i></small>
        </td>
      </tr>

    {% endfor %}
  </table>
{% endblock %}
